<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<section class="grid-container">
    <section class="column1">
        
        <h1>YOUR ORDER</h1>
        <div class="gridception">
            <img class="clm1" src="Ecommercetemplate\public\images\selfmadeplaceholderimage.png" alt="Product Image">
            <h3 class="productname">Product Name</h3>
            <p class="clm2mid">Short Description</p>
            
                <form class="clm2btm" action="/action_page.php"
                    oninput="x.value=parseInt(a.value)+parseInt(b.value)">
                    <input type="number" id="b" name="b" value="2">
                    <!-- <output name="x" for="a b"></output> --><!--may be needed later-->
                    <!-- <input type="submit"> -->
                </form>
            
                
                <button ><img class="delbtn" src="\images\trashicon.png"></button>
                <!--https://stackoverflow.com/questions/8488005/how-to-put-a-jpg-or-png-image-into-a-button-in-html--><!--was helpful-->
                
            <cost class="clm3btm">$22</cost>
        </div>
            
            <div class="gridception">
                <img class="clm1" src="public\images\selfmadeplaceholderimage.png" alt="Product Image">
                <h3 class="productname">Product Name</h3>
                <p class="clm2mid">Short Description</p>
                
                    <form class="clm2btm" action="/action_page.php"
                        oninput="x.value=parseInt(a.value)+parseInt(b.value)">
                        <input type="number" id="b" name="b" value="2">
                        <!-- <output name="x" for="a b"></output> --><!--may be needed later-->
                        <!-- <input type="submit"> -->
                    </form>
                
                    
                    <button ><img class="delbtn" src="public\images\trashicon.png"></button>
                    <!--https://stackoverflow.com/questions/8488005/how-to-put-a-jpg-or-png-image-into-a-button-in-html--><!--was helpful-->
                    
                <cost class="clm3btm">$22</cost>
            </div>

    </section>
    <section class="column2">
        <h1>SUMMARY</h1>
        <div class="flexbox">
            <p>Items in the cart:</p>
            <p class="flexright">$58.00</p>
        </div>
        <div class="flexbox">
            <h1>Total:</h1>
            <p class="flexright">$58.00</p>
        </div>
        <button class="checkout">GO TO CHECKOUT</button>
    </section>
</section>

</body>
</html>
<!--Udemi has courses to learn NEVER buy anything full price, if you wait a week $300 courses turn $15-->