.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 40px; /*placeholder*/
}

.search-bar input {
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-button {
    background-color: #353535
}

.profile-button {
    background-color: #353535;
}